# vivado files
vivado/
.Xil
*vivado*.str

# platformio files
platformio.ini
icebreaker.pcf

# linting files
.hdl_checker
.hdl_checker.config
vhdl_ls.toml

# synthesis files
build/

# vim session
Session.vim
